@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("8 марта.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer {
    margin-top: 50px;
    font-size: 30px;
    border-radius: 15px 15px 0 0;
}
.big {
    font-size: 30px;
    color: red;
}
h1 {
    border-top: 5px solid black;
    border-radius: 0 0 15px 15px;
}
h1, .timer {
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
}
.bubbly-button {
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
    border: 3px solid green;
    background-color: yellowgreen;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 250px;
}
.output {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
.generator {
    background-color: antiquewhite;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
}
.TextfromMarch8th {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    font-size: 15px;
    align-items: center;
    max-width: 600px;
    margin-top: 20px;
}
img {
    width: 85%;
}
@media (max-width: 1200px) {
    .timer {
        max-width: 85%;
    }
}
@media (max-width: 550px) {
    .generator {
        max-width: 85%;
    }
    .bubbly-button {
        max-width: 85%;
    }
}